body {
    background-color: rgb(202, 188, 175);
   
}

p {
    color: grey;
    font-size: 23px;
}

.par {
    color: blueviolet
}

#Todo {

    margin-top: 150px;
    display:flex;
   
    width: 20%;
    height: 390px;
    margin: auto; 
    margin-top: 200px; 
    border-radius: 16px ;
    margin-left: 100px;
}

#esquerdo {
   width: 50%;
   
}
#direito{
    width: 50%;
    
}

#Div1{
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
}
#Div2{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
}
#Div3{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
}
#Div4{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
}
